
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    background-color: #F1F1F3;
}
header{
    width: 1280px;
}
nav{
    width: 1280px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 110px;
    

}
.nav-btn{
    background-color: white;
    border-width: 2px;
    border-color: #006A50;
    border-radius: 8px;
    padding: 15px 25px;
    color: #006A50 ;
    font-weight: 600px;
    font-size: 15px;
}

.banner{
    width: 1280px;
    height: 560px;
    margin: 20px 100px 80px 110px;
    border-radius: 24px;
    background-color: #C6E4D6;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
   
   
}
.banner-col1{
   margin: 117px 60px ;
   gap: 5px;
}
.banner-heading{
    font-weight: 500px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-title{
    font-weight: bold;
    font-size: 45px;
    color: rgba(14, 14, 14, 1)
}
.banner-btn{
    background-color: #006A50;
    padding: 17px 34px;
    color: white;
    font-weight: 500px;
    font-size: 18px;
    border-radius: 8px;
}
.banner-col2{
    width: 475px;
    height: 400px;
    margin: 80px 60px;
}
main{
    width: 1280px;
    margin-left: 110px;
}
.sec-piller{
    /* width: 1280px;
    height: 325px; */
    margin: 80px 160px;
    gap: 5px;
}
.sec-heading{
    font-weight: bold;
    font-size: 35px;
}

.piller{
    width: 260px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 16px;
}
.piller-title{
    font-weight: bold;
    font-size: 18px;
    color: #0E0E0E;
}
.piller-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.piller-container{
    display: flex;
    gap: 25px;
}
.sec-vission{
    margin-top: 80px;
}
.sec-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.vission-container{
    display: flex;
    gap: 25px;
}

.btn-color-b{
   background-color: #5490F5; 
}
.btn-color-g{
    background-color: #09A15C;
}
.btn-color-o{
    background-color: #FFC239;
}

.vis-back-color-b{
    background-color: rgba(84, 144, 245, 0.2);
}
.vis-back-color-g{
    background-color: #C6E4D6;
}
.vis-back-color-o{
    background-color: #F7EBCF;
}
.vission{
    width: 345px;
    padding: 32px;
    border-radius: 15px;
}
.vis-title{
    font-weight: bold;
    font-size: 18px;
    color: #0E0E0E;
}
.vis-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.btn-primary{
    padding: 10px 15px;
    font-weight: 800px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 8px;
}

.sec-quote{
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 25px 24px 40px 24px;
}

.quotation, .designation{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.name{
    font-weight: 600px;
    font-size: 20px;
    padding-top: 25px;
}
.quote-container{
    position: relative;
}
.quotation{
    position:absolute;
    top: 5px;
    left: 2px;
}
.table-container{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #C6E4D6;
    font-weight: 600px;
    font-size: 18px;
  }
td{
    font-size: 16px;
}
th,td {
    border: 2px solid #ddd;
    text-align: left;
    padding: 30px 100px 30px 24px;
    color: #0E0E0E;
}
 .table-opt{
    background-color: #d4ebd0;
    border: 1px solid #aaa;
    padding: 5px 15px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
 }
 .table-opt:hover {
    background-color: #b6d4ba;
  }